.panel-ui{
        stroke:#FF0000;
        stroke-width:2;
        rx:0;
        fill:grey;
}
.button{
        stroke:#999999;
        stroke-width:2;
        rx:15;
        fill:green;
}
.button-decision{
    stroke:#999999;
    stroke-width:2;
    rx:20;
    ry:10;
    fill:lightgrey;
}

    .button-ok-inner {fill:#006C3B}
    .button-ok-outer {fill:#77C06C}
    .button-not-ok{
        stroke:#800000;
        stroke-width:10;
        fill:transparent;
    }
    /*can be removed*/
.thought-bubble-back{
    stroke-linejoin:round;stroke:#cccccc;stroke-linecap:round;stroke-width:2;fill:#cccccc
}
.thought-bubble-front{
    stroke-linejoin:round;stroke:#000000;stroke-linecap:round;stroke-width:2;fill:#ffffff
}
/*end can be removed*/

.speak-bubble {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: evenodd;
    stroke: #000000;
    stroke-width: 5.8824821;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-miterlimit: 4.0000000;
    stroke-dasharray: none;
    stroke-opacity: 1.0000000;
}

.start-button1{fill:#fff;}.start-button2{fill:#575756;}
.thought{fill:#9c3354;stroke:#fff;stroke-miterlimit:10;stroke-width:1.99px;}
.speak1{fill:#fff;}.speak2{fill:none;stroke:#e83361;stroke-miterlimit:10;stroke-width:2.07px;}
.dialog-ok{fill:white;}
.dialog-marker-1{fill:#fff;}.dialog-marker-2{fill:#2c3f92;}
.title-dialog{
    fill:lightgrey;
    rx:15;
    ry:15;       
    stroke:#999999;
    stroke-width:2;
}
.dialog-inner {rx:5; ry:5;}
.dialog-outer {rx:5; ry:5;}
.decision-inner {rx:5; ry:10;}
.decision-outer {rx:5; ry:10;}



 
